<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.aitechlab.oes.dao.ExamineeMapper" >
  <resultMap id="BaseResultMap" type="cn.aitechlab.oes.model.Examinee" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="examinee_id" property="examineeId" jdbcType="VARCHAR" />
    <result column="examinee_name" property="examineeName" jdbcType="VARCHAR" />
    <result column="identity_num" property="identityNum" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="TINYINT" />
  </resultMap>

  <resultMap id="ExamineeDTOMap" type="cn.aitechlab.oes.dto.ExamineeDTO">
    <result column="examinee_id" property="examineeId" jdbcType="VARCHAR" />
    <result column="examinee_name" property="examineeName" jdbcType="VARCHAR" />
    <result column="identity_num" property="identityNum" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >

    id, examinee_id, examinee_name, identity_num, user_type
  </sql>

  <sql id="ExamineeDTO_Column_List">
    examinee_id, examinee_name, identity_num, user_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >

    select 
    <include refid="Base_Column_List" />
    from examinee
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >

    delete from examinee
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.aitechlab.oes.model.Examinee" >

    insert into examinee (id, examinee_id, examinee_name, 
      identity_num, user_type)
    values (#{id,jdbcType=INTEGER}, #{examineeId,jdbcType=VARCHAR}, #{examineeName,jdbcType=VARCHAR}, 
      #{identityNum,jdbcType=VARCHAR}, #{userType,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="cn.aitechlab.oes.model.Examinee" >

    insert into examinee
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="examineeId != null" >
        examinee_id,
      </if>
      <if test="examineeName != null" >
        examinee_name,
      </if>
      <if test="identityNum != null" >
        identity_num,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="examineeId != null" >
        #{examineeId,jdbcType=VARCHAR},
      </if>
      <if test="examineeName != null" >
        #{examineeName,jdbcType=VARCHAR},
      </if>
      <if test="identityNum != null" >
        #{identityNum,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.aitechlab.oes.model.Examinee" >

    update examinee
    <set >
      <if test="examineeId != null" >
        examinee_id = #{examineeId,jdbcType=VARCHAR},
      </if>
      <if test="examineeName != null" >
        examinee_name = #{examineeName,jdbcType=VARCHAR},
      </if>
      <if test="identityNum != null" >
        identity_num = #{identityNum,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.aitechlab.oes.model.Examinee" >

    update examinee
    set examinee_id = #{examineeId,jdbcType=VARCHAR},
      examinee_name = #{examineeName,jdbcType=VARCHAR},
      identity_num = #{identityNum,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getExamineeByExamineeInfo" resultMap="ExamineeDTOMap">
    select
    <include refid="ExamineeDTO_Column_List"/>
    from examinee
    where
    examinee_id = #{examineeId,jdbcType=VARCHAR} and examinee_name = #{examineeName,jdbcType=VARCHAR} and identity_num = #{identityNum,jdbcType=VARCHAR}
  </select>

  <select id="selectall"  resultMap="BaseResultMap">
    select examinee_id,examinee_name,identity_num,user_type from examinee
  </select>

  <select id="selectExamineeByExamineeName"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
     from examinee
    where examinee_name=#{examineeName}
  </select>




</mapper>